.card{
    background-color: #080808;
    height: 75vh;
    width: 70vw;
}

.text{
    font-size: 1.5em;
    color: white;
}

.leftarrow{
    pointer-events: none;
    width: 1.2em;
    margin-top: 1em;
    margin-right: 1em;
}

.rightarrow{
    cursor:pointer;
    width: 1.2em;
    margin-top: 1em;
    margin-left: 1em;
}

.x{
    cursor:pointer;
    width: 2.5em;
    height: auto;
    position: absolute;
    top:0;
    right:0;
    z-index: 5
}

.left{
    height: 75vh;
    width: 32.5vw;
    background-color: white;
}

.right{
    height: 70vh;
    width: 37.5vw;
}

.hoopersOrange{
    color:#d48832
}