.hoopersorange {
    background-color:#d48832;
}

.container{
    height: 100vh
}
  
  a {
    color:black;
    font-weight:lighter;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 0.25px solid black;
    padding-right: 80px;
    width: 300px;
    transition: 0.3s
  }
  
  button:hover {
    color:blue;
  }