.hoopersorange {
    background-color:#d48832;
}

.container{
    height: 100vh
}
  
  a {
    color:black;
    font-weight:lighter;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 0.25px solid black;
    padding-right: 80px;
    width: 300px;
    transition: 0.3s
  }
  
  button:hover {
    color:blue;
  }

  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:#d48832;
  }
  
  .no-outline:focus {
    outline: none;
  }
  
  input::placeholder {
    color:white;
  }
  