.articlehr {
    color: #123455;
    background-color: #d48832;
    height: 5px;
    border: none;
    animation: slideinright 2.5s 1;
    position: relative;
}
  
h1{
    color: #d48832;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
  
.hoopersBlack{
    background-color: #1d1d1b;
}
  
.btnColor{
    background-color: #ffba00;
    color: #1d1d1b
}
  
.btn {
    text-align: center;
}

.slideRight{
    animation: slideinright 2.5s 1;
}